* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: pink;
    text-align: center;
    padding: 2rem;
    font-family: 'Lato', sans-serif;
}
h1{
    
    text-shadow: -4px 1px 5px black;
    
}

.description{
    font-size: 2rem;
}

.header{
    height: 20vh;
}

#score{
    padding: 2%;
    font-size: 2.5rem;
    font-weight: 700;
}

#btn{
   background-color:rgb(21, 255, 0);
   border: .2rem solid black;
   border-radius: 5%;
   padding: 5% 10%;
   margin: 5% 0%;
   font-weight: 700;
}

.container{
    background-color: red;
    border-radius:2%;
    border: 5px solid black;
    box-shadow: 10px -5px 10px black;
    width: 60%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    
 
}

.items{
    padding: 2%;
    width: 100%;
    margin: 2%;
}

.nameOfPerson{
    font-size: 1.5rem;
background-color: rgb(0, 255, 128);
padding: 2%;
margin: 2%;
}

