* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: pink;
    text-align: center;
}

.header{
    height: 20vh;
}

#score{
    padding: 2%;
}

#btn{
   background-color:rgb(21, 255, 0);
   border: .2rem solid black;
   border-radius: 2%;
   padding: 1%;
   margin: 1% 0%;
   font-weight: 700;
}

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
}

